@charset "utf-8";

*{
  margin: 0;
  padding: 0;
  list-style: none;
  color: #333;
}
a{
  text-decoration: none;
  display: block;
}
#wrap{
  width: 100%;
  margin: 0 auto;
}
#header{
  width: 100%;
  height: 100px;
  margin: 0 auto;

}
#header_wrap{
  width: 1200px;
  height: 100px;
  margin: 0 auto;

}
#slide{
  width: 1200px;
  height: 300px;
  margin: 0 auto;
}
#content{
  width: 1200px;
  height: 200px;
  margin: 0 auto;
}
#footer{
  width: 100%;
  margin: 0 auto;
  height: 100px;
}
#footer_wrap{
  width: 1200px;
  margin: 0 auto;
  height: 100px;
  background-color: #333;
}
.logo{
  width: 200px;
  height: 100px;
  float: left;
}
.logo a{
  margin-top: 30px;
}
.nav{
  width: 1000px;
  height: 100px;
  float: left;
}
.menu{
  float: right;
  margin-top: 30px;
  margin-right: 30px;
}
.menu>li{
  float: left;
}
.menu>li>a{
  width: 150px;
  height: 40px;
  background-color: #eee;
  text-align: center;
  line-height: 40px;
  font-weight: bold;
  color: #003795;
  border-bottom: 2px solid #003795;
}
.menu>li>a:hover{
  background-color: #003795;
  color: #fff;
}
.sub{
  position: absolute;
  height: 160px;
  background-color: #eee;
  display: none;
}
.sub li a{
  width: 150px;
  height: 40px;
  text-align: center;
  line-height: 40px;
}
.sub li a:hover{
  background-color: #003795;
  color: #fff;
}
#slide{
  overflow: hidden;
}
.slidebox{
  width: 3600px;
  height: 300px;
}
.slidebox a{
  height: 300px;
  float: left;
}
#content>div{
  width: 400px;
  height: 200px;
  float: left;
}
.tab{
  position: relative;
}
.tab p{
  width: 100px;
  height: 30px;
  background-color: #999;
  text-align: center;
  line-height: 30px;
  font-weight: bold;
  margin-top: 10px;
  cursor: pointer;
}
.tab>div{
  float: left;
}
.tab p:hover{
  background-color: #003795;
  color: #fff;
}
.tab ul{
  width: 380px;
  height: 150px;
  padding: 10px;
  box-sizing: border-box;
  border-top:2px solid #003795;
  border-bottom:2px solid #003795;
  background-color: #fff;
  position: absolute;
  left: 0;
}
.notice li a{
  font-size: 15px;
  line-height: 34px;
}
.notice li a span{
  float: right;
}
.gallery li {
  float: left;
  margin-top: 15px;
  margin-right: 20px;
}
.tab .active p{
  background-color: #003795;
  color: #fff;
}
.active ul{
  z-index: 1;
}
.logo_f{
  width: 200px;
  height: 100px;
  float: left;
}
.logo_f a{
  margin-top: 30px;
}
.nav_f{
  width: 1000px;
  height: 50px;
  float: left;
}
.nav_f ul{
  width: 300px;
  margin-left: 380px;
  margin-top: 15px;
}
.nav_f a{
  color: #fff;
  float: left;
  margin-right: 10px;
}
.copy{
  width: 1000px;
  float: left;
  color: #fff;
  text-align: center;
}
.pop{
  width: 400px;
  height: 300px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -150px;
  margin-top: -200px;
  background-color: #fff;
  padding: 20px;
  box-sizing: border-box;
  display: none;
}
.tit{
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
}
.btn{
  width: 100px;
  height: 30px;
  background-color: #003795;
  color: #fff;
  text-align: center;
  line-height: 30px;
  position: absolute;
  right: 20px;
  bottom: 20px;
  cursor: pointer;
}
.pop.active{
  display: block;
}